<ul>
                        <li>Message: <strong>phone number= and <br/><br/> content=Chokolate</strong></li>
                        <li>Time: <strong>Wed, 26-Nov-2014  17:49:34tz time</strong></li> 
                     </ul><ul>
                        <li>Message: <strong>phone number=255714852459 and <br/><br/> content=Chokolate</strong></li>
                        <li>Time: <strong>Wed, 26-Nov-2014  17:49:34tz time</strong></li> 
                     </ul><ul>
                        <li>Message: <strong>phone number=255714852666 and <br/><br/> content=Chokolate</strong></li>
                        <li>Time: <strong>Wed, 26-Nov-2014  17:50:12tz time</strong></li> 
                     </ul><ul>
                        <li>Message: <strong>phone number=255714852666 and <br/><br/> content=Chokolate</strong></li>
                        <li>Time: <strong>Wed, 26-Nov-2014  17:50:20tz time</strong></li> 
                     </ul><ul>
                        <li>Message: <strong>phone number=255714852111 and <br/><br/> content=Chokolate</strong></li>
                        <li>Time: <strong>Wed, 26-Nov-2014  23:53:22tz time</strong></li> 
                     </ul><ul>
                        <li>Message: <strong>phone number=255714852112 and <br/><br/> content=Chokolate</strong></li>
                        <li>Time: <strong>Wed, 26-Nov-2014  23:54:06tz time</strong></li> 
                     </ul>