<br/><br/><ul>
	<li>date time 2015-Jan-08 17:56:45</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: ads</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\pesasms.php</li>
	<li>Line no: 43</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-08 17:56:45</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: Invalid argument supplied for foreach()</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\pesasms.php</li>
	<li>Line no: 43</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 10:54:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: ses_user</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\login\process\logout.php</li>
	<li>Line no: 18</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 10:54:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\login\process\logout.php</li>
	<li>Line no: 18</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 10:54:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: ses_user</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\login\process\logout.php</li>
	<li>Line no: 19</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 10:54:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\login\process\logout.php</li>
	<li>Line no: 19</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 10:54:21</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: session_destroy(): Session object destruction failed</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\login\process\logout.php</li>
	<li>Line no: 22</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 21:51:56</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: PDO::__construct(): send of 5 bytes failed with errno=10053 An established connection was aborted by the software in your host machine.
</li>
	<li>File name: C:\xampp\htdocs\karibu\include\connection.php</li>
	<li>Line no: 59</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:41:53</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 87</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:42:45</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 87</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:42:59</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 87</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:43:45</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 87</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:44:00</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 86</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:44:32</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 88</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:47:13</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 88</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:48:26</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 88</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:48:29</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 88</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:48:31</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 88</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:51:01</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 87</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-09 23:51:15</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\pesaSMS\mobile.php</li>
	<li>Line no: 87</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:06:25</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:21</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 92</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined offset: 2</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 95</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined variable: key_with_phone_number</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 99</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:10:37</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Undefined index: </li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\process\excel_reader.php</li>
	<li>Line no: 55</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:11:09</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\receive\cronjob.php</li>
	<li>Line no: 96</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jan-22 20:11:09</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\karibu\modules\general\receive\cronjob.php</li>
	<li>Line no: 97</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Feb-01 09:48:05</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Use of undefined constant PHONE_COOKIE - assumed 'PHONE_COOKIE'</li>
	<li>File name: C:\xampp\htdocs\karibu\include\input.php</li>
	<li>Line no: 597</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Feb-01 09:48:08</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Use of undefined constant PHONE_COOKIE - assumed 'PHONE_COOKIE'</li>
	<li>File name: C:\xampp\htdocs\karibu\include\input.php</li>
	<li>Line no: 597</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Feb-01 09:48:47</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Use of undefined constant PHONE_COOKIE - assumed 'PHONE_COOKIE'</li>
	<li>File name: C:\xampp\htdocs\karibu\include\input.php</li>
	<li>Line no: 597</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jul-27 10:51:22</li>
	<li>errornum 8</li>
	<li>errortype Notice</li>
	<li>error msg: Trying to get property of non-object</li>
	<li>File name: C:\xampp\htdocs\uza_app\modules\juma\part\neema.php</li>
	<li>Line no: 4</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jul-27 11:12:04</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: include_once(modules/profile/profile.php): failed to open stream: No such file or directory</li>
	<li>File name: C:\xampp\htdocs\uza_app\modules\home\home.php</li>
	<li>Line no: 30</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jul-27 11:12:04</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: include_once(): Failed opening 'modules/profile/profile.php' for inclusion (include_path='.;C:\xampp\php\PEAR')</li>
	<li>File name: C:\xampp\htdocs\uza_app\modules\home\home.php</li>
	<li>Line no: 30</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jul-27 11:12:08</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: include_once(modules/profile/profile.php): failed to open stream: No such file or directory</li>
	<li>File name: C:\xampp\htdocs\uza_app\modules\home\home.php</li>
	<li>Line no: 30</li>
</ul>

<br/><br/><ul>
	<li>date time 2015-Jul-27 11:12:08</li>
	<li>errornum 2</li>
	<li>errortype Warning</li>
	<li>error msg: include_once(): Failed opening 'modules/profile/profile.php' for inclusion (include_path='.;C:\xampp\php\PEAR')</li>
	<li>File name: C:\xampp\htdocs\uza_app\modules\home\home.php</li>
	<li>Line no: 30</li>
</ul>

