
 <ul>
 <li>Message: <strong>Phone number is not valid </strong></li>
 <li>Time: <strong>Wed, 26-Nov-2014  17:49:34tz time</strong></li> 
 <li>User id: <strong>13</strong> using Google Chrome : Windows 7</li>
 <li>Error variable: <strong>1</strong> </li>
</ul>